@import "tailwindcss";

@theme {
  --font-display: "Cinzel", serif;
  --font-body: "Inter", sans-serif;
  
  --color-primary: #ffd700; /* Gold */
  --color-secondary: #00f0ff; /* Neon Blue */
  --color-dark-bg: #0a0a12; /* Midnight Blue */
  --color-dark-surface: #151520;
}

:root {
  font-family: var(--font-body);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--color-dark-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
